body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}

#dealer_cards img{
height: 200px;
width: 150px;
margin: 2px;
}

#player_cards{
height: 200px;
width: 150px;
margin: 2px;
}

