@import url(https://fonts.googleapis.com/css?family=Oswal+Lato); 

body {
    font-family: Oswald, lato;
    text-align: center;
}

#dealer_cards img {
    height: 200px;
    width: 150px;
    margin: 2px;
}

#player_cards img {
    height: 200px;
    width: 150px;
    margin: 2px;
}

#twist {
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
}

#stick {
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
}